html {
  height: 100%;
  text-align: center;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.main-section {
  top: 200px;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
  color: rgb(56, 56, 56);
}

a:visited {
  text-decoration: none;
  color: rgb(56, 56, 56);
}

a:hover {
  text-decoration: none;
  color: chocolate;
}

a:active {
  text-decoration: none;
  color: aqua;
}

.vertical-menu {
  min-width: 200px;
  width: 30%;
}