.courts-content{
  width: 70%;
}

.courts-table{
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%
}

.courts-table td, .courts-table th {
  border: 1px solid #7a7979;
  text-align: left;
  padding: 8px;
}

.courts-table tr:nth-child(even) {
  background-color: #dddddd;
}

